.caja-colaboradores {
  width: 100%;
  overflow: hidden;
  padding: 54px 0;
}

.caja-colaboradores .colaboradores {
  width: 400%;
  display: flex;
  padding: 0;
}

.caja-colaboradores .colaboradores .colaborador {
  width: 200px;
  margin-right: 50px;
}

.caja-colaboradores .colaboradores .colaborador img {
  width: 100%;
  vertical-align: top;
}


@media screen and (max-width: 1024px) {
  .caja-colaboradores {
    display: none;
  }
}