/*
AMARILLO: #E7C754;
VERDE: #8AB57D;
AZUL: #538DBE;
NEGRO: #454543;

*/

/*Generales*/

a ,p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

h1 , h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #538DBE;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

p {
	font-size: 18px;
}

.fondo-azul {
	background: #538DBE;
}

.fondo-verde {
	background: #8AB57D;
}

.fondo-negro {
	background: #454543;
}

.fondo-azul {
	background: #538DBE;
}

.fondo-gris-claro {
	background: #c4c4c4;
}

.fondo-gris-oscuro {
	background: #828282;
}

.fondo-blanco-t {
	background: rgba(255,255,255,0.8);
}

.texto-azul {
	color: #538DBE;
}

.texto-negro {
	color: #454543;
}

.boton-verde a , .boton-verde input {
	padding: 15px 50px;
	background: #8AB57D;
	color: white;
	border-radius: 10px;
}

.boton-verde a:hover {
	text-decoration: none;
}

.boton-azul a , .boton-azul input {
	padding: 15px 50px;
	background: #538DBE;
	color: white;
	border-radius: 10px;
}

.boton-azul a:hover {
	text-decoration: none;
}

.boton-celeste a {
	padding: 15px 50px;
	background: rgb(24,155,211);
	color: white;
	border-radius: 10px;
}

.boton-celeste a:hover {
	text-decoration: none;
	color: white;
}

.boton-amarillo a {
	padding: 15px 50px;
	background: #E7C754;
	color: white;
	border-radius: 10px;
}

.boton-amarillo a:hover {
	text-decoration: none;
	color: white;
}

.boton-amarillo-small a {
	padding: 5px 40px;
	background: #E7C754;
	color: white;
	border-radius: 10px;
}

.boton-amarillo-small a:hover {
	text-decoration: none;
	color: white;
}

.align-content-between {
	align-content: space-between;
}

.align-content-start {
	align-content: flex-start;
}

.my-8 {
	margin-bottom: 100px;
	margin-top: 100px;
}

.p-7 {
	padding: 80px;
}

.py-6 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.py-7 {
	padding-top: 80px;
	padding-bottom: 80px;
}

/*Boton*/

.btn-menu {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: rgba(34,34,32,0.5);
	border-radius: 30%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99999;
	margin-right: 20px;
	transition: all .4s ease;
	text-align: center;
	padding-top: 5px;
	border: 1px solid #FFF;
}

.btn-menu a {
	color: #FFF;
	font-size: 20px;
}

/*Pop Up*/

.pop-up {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 9999999999;
	padding: 30px;
	display: block;
}

.pop-up-contenido {
	margin: auto;
	margin-top: 50px;
	width: 30%;
	background: #E7C754;
	padding: 10px;
	position: relative;
}

.pop-up-contenido button {
	background: none;
	border: none;
	font-size: 20px;
}

.pop-up-contenido img {
	width: 100%;
}

.pop-boton a {
	padding:  7px 30px;
	background: #E7C754;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(73,73,73);
	color: #1C1B19;
	font-size: 25px;
}

.pop-up-contenido a:hover {
	text-decoration: none;
}

.pop-up-text {
	width: 100%;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.pop-up-text h4 {
	text-shadow: -2px -2px 1px #000;
}

@media (max-width: 1200px) {
	.pop-up {
		display: none;
	}
}

/*Navegador*/

.navegador a {
	color: white;
	font-weight: 600;
}

.nav-box-d a {
	color: #454543;
}

.nav-social a {
	font-size: 20px;
}


.navegador-m i {
	font-size: 40px;
	color: white;
}

.navegador-m img {
	width: 70px;
}

@media (max-width: 1439px) {
	.navegador {
		display: none;
	}
}

@media (min-width: 1440px) {
	.navegador-m {
		display: none;
	}
}

/*Banner*/

.banner {
	position: relative;
}

.bannerTexto {
	width: 100%;
	position: absolute;
	bottom: 10%;
	left: 0;
}

.bannerTexto p {
	padding: 30px;
	background: rgba(83,141,190,0.8);
	color: white;
	font-size: 30px;
	text-shadow: 0.1em 0.1em 0.2em rgb(73,73,73);
	font-weight: 400;
}

/*Nosotros*/

.nosotros-items h2 {
	color: white;
}

.nosotros-items p {
	color: white;
	font-weight: 400;
}

.items , .items-l {
	background: #E7C754;
	padding: 20px;
	font-family: inherit;
	transition: all 0.5s ease;
	border-radius: 15px;
}

.items:hover {
	text-decoration: none;
	transform: translateX(-15px);
}

.items-l:hover {
	text-decoration: none;
	transform: translateX(15px);
}

/*Contadores*/

.contador {
	text-align: center;
	width: 200px;
}

.contador .valor {
	margin-top: 20px;
	font-size:25px;
	font-weight:bold;
	color:  rgb(68,68,68);
}

.contador i {
	color: rgb(24,155,211);
	font-size: 50px;
}

.contador p {
	color: #979797;
}

/*Donaciones*/

.dona-box-link {
	border-radius: 10px 10px 0px 10px;
}

.dona-box-link-a {
	border-radius: 0px 10px 0px 10px;
}

.dona-box-link-a h3 {
	color: white;
}

.dona-box-link-a p {
	color: white;
}


.dona-box-link-a i {
	font-size: 30px;
	color: white;
}

.dona-box-link-a a:hover {
	text-decoration: none;
}

/*Proyectos*/

.proyectos {
	background: rgb(227,235,234);
}

.proyectos a , .proyectos a h4 {
	color: #454543;
}

.proyecto i {
	font-size: 40px;
}

.proyectos a:hover {
	text-decoration: none;
	border-radius: 15px;
	background: #8AB57D;
	color: white;
}

.proyectos a:hover h4 {
	color: white;
}

/*Noticias*/

.noticias {
	background: rgb(227,235,234);
}

.noticia {
	width: 100%;
	background: white;
	border-radius: 15px;
	color: #454543;
}

.noticia:hover {
	color: #454543;
}

.noticia img {
	width: 100%;
	border-radius: 15px;
}

.noticia p {
	line-height: 30px;
}

/*Publicidad*/

.texto-publicidad {
	width: 100%;
}

.texto-publicidad h3 {
	color: white;
	font-weight: 600;
}

.texto-publicidad p {
	color: white;
	font-size: 18px;
	font-weight: 400;
}

/*Contacto*/

.contacto {
	background-image: url("../img/contacto.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.contacto form input[type="text"] , .contacto form input[type="email"] {
	width: 100%;
	outline: none;
	border: none;
	background: none;
	padding: 10px;
	border: 1px solid #0089E0;
	color: #444;
	border-radius: 10px;
}

.contacto form textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 200px;
	min-height: 200px;
	background: none;
	padding: 10px;
	outline: none;
	border: none;
	border: 1px solid #0089E0;
	color: #444;
	border-radius: 10px;
}

.error {
	color: #FC5439;
	font-size: 8px;
	display: none;
}

.contacto form input[type="submit"] {
	text-decoration: none;
	color: #0089E0;
	padding: 10px;
	border: 1px solid #0089E0;
	font-weight: 600;
	transition: all .4s ease;
	background: none;
	width: 100px;
	border-radius: 10px;
}

.contacto form input[type="submit"]:hover {
	color: #E0D3C2;
	border:1px solid #2471A3;
	background: #0089E0;
}

/*Footer*/

.footer p {
	color: white;
	font-size: 15px;
}

.footer-menu a {
	color: white;
	margin-top: 20px;
	font-size: 10px;
	display: block;
}

.footer .redes-sociales a {
	color: white;
	margin-right: 20px;
	font-size: 20px;
	display: inline-block;
}

.footer a:hover {
	text-decoration: none;
	color: #8AB57D;
}