/*
AMARILLO: #E7C754;
VERDE: #8AB57D;
AZUL: #538DBE;
NEGRO: #1C1B19;

*/

/*Generales*/

a ,p {
	font-family: 'Poppins', sans-serif;
}

p {
	font-size: 18px;
}

.fondo-azul {
	background: #538DBE;
}

.fondo-verde {
	background: #8AB57D;
}

.fondo-negro {
	background: #1C1B19;
}

.texto-negro {
	color: #1C1B19;
}

.texto-azul {
	color: #538DBE;
}

.boton-verde a , .boton-verde input {
	padding: 15px 50px;
	background: #8AB57D;
	color: white;
	border-radius: 10px;
}

.boton-verde a:hover {
	text-decoration: none;
}

.boton-azul a {
	padding: 15px 50px;
	background: #538DBE;
	color: white;
	border-radius: 10px;
}

.boton-azul a:hover {
	text-decoration: none;
}


/*Boton*/

.btn-menu {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: rgba(34,34,32,0.5);
	border-radius: 30%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99999;
	margin-right: 20px;
	transition: all .4s ease;
	text-align: center;
	padding-top: 5px;
	border: 1px solid #FFF;
}

.btn-menu a {
	color: #FFF;
	font-size: 20px;
}

/*Navegador*/

.navbar .navbar-collapse .navbar-nav .nav-item a {
	color: #1C1B19;
	font-size: 20px;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover {
	color: #538DBE;
}

/*Contadores*/

.contador {
	text-align: center;
	width: 200px;
}

.contador .valor {
	margin-top: 20px;
	font-size:25px;
	font-weight:bold;
	color:  rgb(68,68,68);
}

.contador i {
	color: rgb(24,155,211);
	font-size: 50px;
}

.contador p {
	color: #979797;
}

/*Publicidad*/

.publicidad {
	position: relative;
}

.imagen-publicidad img {
	width: 100%;
}

.texto-publicidad {
	width: 100%;
	position: absolute;
	top: 40%;
	right: 60px;
	text-align: right;
}

.texto-publicidad h3 {
	color: white;
	text-shadow:  0.1em 0.1em 0.05em rgb(73,73,73);
	font-weight: 600;
}

.texto-publicidad p {
	color: white;
	font-size: 20px;
	text-shadow: 0.1em 0.1em 0.2em rgb(73,73,73);
	max-width: 1000px;
	margin-left: auto;
	font-weight: 400;
}

/*Pop Up*/

.pop-up {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 9999999999;
	padding: 30px;
	display: block;
}

.pop-up-contenido {
	margin: auto;
	margin-top: 50px;
	width: 30%;
	background: #538DBE;
	padding: 10px;
	position: relative;
}

.pop-up-contenido button {
	background: none;
	border: none;
	font-size: 20px;
}

.pop-up-contenido img {
	width: 100%;
}

.pop-boton a {
	padding:  7px 30px;
	background: #8AB57D;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(73,73,73);
	color: #1C1B19;
	font-size: 25px;
}

.pop-up-contenido a:hover {
	text-decoration: none;
}

.pop-up-text {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*Nosotros*/

.nosotros-items {
	background: #538DBE;
}

.items , .items-l {
	background: rgb(73,73,73);
	padding: 10px;
	font-family: inherit;
	transition: all 0.5s ease;
}

.items:hover {
	text-decoration: none;
	transform: translateX(-15px);
}

.items-l:hover {
	text-decoration: none;
	transform: translateX(15px);
}

/*Proyectos*/

.proyecto {
	color: #1C1B19;
	text-align: center;
}

.proyecto i {
	font-size: 50px;
	margin: 10px;
}

.proyecto:hover {
	text-decoration: none;
	color: #8AB57D;
}

/*Noticias*/

.noticias img {
	width: 100%;
	height: 178px;
	object-fit: cover;
	object-position: center;
	transition:  all 0.5s ease;
}

.noticias img:hover {
	filter: saturate(180%);
}

.noticias a {
	color: rgb(35,35,35);
	transition:  all 0.5s ease;
}

.noticias a:hover {
	text-decoration: none;
	color: rgb(78,198,35);
}

.btn-compartir {
	background: none;
	border: none;
	display: inline-block;
}

.compartir {
	display: none;
}

.compartir a {
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 500;
	transition:  all 0.5s ease;
}

.compartir a:hover {
	text-decoration: none;
	filter: saturate(180%);
}

#facebook {
	background: #3b5998;
}

#twitter {
	background: #00acee;
}

/*Footer*/

.footer {
	background: rgb(35,35,35);
	padding: 30px;
}

.footer p , h2 {
	color: white;
}

.footer-menu a {
	color: white;
	margin-top: 20px;
	font-size: 10px;
	display: block;
}

.subject input , .input input {
	width: 100%;
}

.textarea textarea {
	width: 100%;
	min-height: 200px;
}

form p {
	display: none;
}

.footer .redes-sociales a {
	color: white;
	margin: 20px;
	font-size: 30px;
}

.footer a:hover {
	text-decoration: none;
	color: #8AB57D;
}
