
h1 {
	color: #538DBE;
}

img {
	width: 100%;
}

.navegador {
	width: 100%;
}

.navegador img {
	width: 150px;
}

.navegador-links a {
	color: #1C1B19;
}

.navegador-links a:hover {
	color: #8AB57D;
	text-decoration: none;
}

/*PDF*/

.pdf a {
	color: #1C1B19;
	font-family: 'Poppins', sans-serif;
}

.pdf i {
	font-size: 50px;
	margin: 10px;
}

.pdf a:hover {
	text-decoration: none;
	color: #8AB57D;
}

/* Equipo */

.equipo img {
	width: 100%;
	border-radius: 50%;
}

.equipo a {
	color: #538DBE;
}

.equipo a:hover {
	color: #8AB57D;
}

.equipo .redes i {
	font-size: 30px;
}

.equipo .correo {
	color: #8AB57D;
}

/*Botones desplegar*/

.boton-desplegar {
	margin: 50px 0;
	padding: 10px 0;
	color: #538DBE;
	width: 250px;
	cursor: pointer;
}

.boton-desplegar a {
	color: #538DBE;
	text-decoration: none;
	cursor: pointer;
	pointer-events: none;
	font-size: 20px;
	font-weight: 500;
}

#FormEmp ,#FormDon ,#FormVol {
	display: none;
}

/*Cbu*/

.cbu {
	margin: auto;
	margin-top: 80px;
	width: 500px;
	border: 3px solid #538DBE;
	padding: 30px;
	border-radius: 20px;
}

.cbu p {
	color: #538DBE;
	font-size: 20px;
	margin-top: 10px;
	font-weight: 500;
	text-align: left;
}

/* Mercado Libre*/



.mercadopago .links {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 0.2857142857142857em;
	display: inline-block;
}

.mercadopago .links:hover {
	border: 1px solid #538DBE;
}

.mercadopago .links:hover p {
	color: #538DBE;
}
